*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background: linear-gradient(-45deg,#0d1117,#111827,#071b2b,#0d1117);
background-size:400% 400%;
animation:bgAnimation 12s ease infinite;
overflow-x:hidden;
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
}

.hero h2{
    color:#00ff99;
    margin:20px 0;
}

.hero p{
    max-width:650px;
    line-height:1.8;
    color:#c9d1d9;
}

.buttons{
    margin-top:35px;
}

.buttons a{
    text-decoration:none;
    color:white;
    border:2px solid #00ff99;
    padding:14px 30px;
    margin:10px;
    border-radius:8px;
    transition:.3s;
}

.buttons a:hover{
    background:#00ff99;
    color:black;
}
@keyframes bgAnimation{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}
