*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background: linear-gradient(-45deg,#0d1117,#111827,#071b2b,#0d1117);
background-size:400% 400%;
animation:bgAnimation 12s ease infinite;
overflow-x:hidden;
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
padding-top:100px;
}

.hero h1{
    font-size:60px;
    color:#00ff99;
    text-shadow:
        0 0 10px #00ff99,
        0 0 20px #00ff99,
        0 0 40px #00ff99;
}
}

.hero h2{
    color:#00ff99;
    margin:20px 0;
}

.hero p{
    max-width:650px;
    line-height:1.8;
    color:#c9d1d9;
}

.buttons{
    margin-top:35px;
}

.buttons a{
    display:inline-block;
    text-decoration:none;
    color:white;
    border:2px solid #00ff99;
    padding:15px 35px;
    margin:10px;
    border-radius:50px;
    transition:.4s;
    font-weight:bold;
}

.buttons a:hover{
    background:#00ff99;
    color:black;
    box-shadow:0 0 20px #00ff99;
}

.buttons a:hover{
    background:#00ff99;
    color:black;
}
@keyframes bgAnimation{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}
nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    color:#00ff99;
    font-size:30px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ff99;
}
.left{
    width:50%;
}

.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
}

.jarvis-circle{

    width:320px;
    height:320px;

    border:4px solid #00ff99;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    animation:rotate 8s linear infinite;

    box-shadow:
    0 0 20px #00ff99,
    0 0 50px #00ff99;

}

.inner-circle{

    width:180px;
    height:180px;

    border-radius:50%;

    background:#00ff99;

    box-shadow:
    0 0 30px #00ff99,
    0 0 60px #00ff99;

}
@keyframes rotate{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}


